// Colors
// Primary
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

// Neutral
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);


// Font Sizes
$font-h1-l: 3.5rem; // 56px
$font-h1-s: 2.375rem; // 38px
$font-h2-l: 2rem; // 32px
$font-h2-s: 1.5rem; // 24px
$font-l: 1.125rem; // 18rem
$font-m: 0.9375rem; // 15px
$font-s: 0.875rem; // 12px

// Font Weights
$font-weight-l: 800;
$font-weight-m: 700;
$font-weight-s: 400;
